# Data Science Tools and Ecosystem

In this notebook, we will summarize Data Science Tools and Ecosystem.

**Objectives:**
- List popular languages of Data Science
- List popular libraries of Data Science
- List popular Data Science tools
- Converting minutes to hours

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Julia
5. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikit-learn

| Data Science Tools |
|--------------------|
| MySQL              |
| MongoDB            |
| RStudio            |

### Below are a few examples of how arithmetic expressions are evaluated in Python

In [9]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Krishna